<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.invoicing_limit') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <h3>
    <%= t('.annual_limit', amount: formatted_currency(@invoicing)) %></h3>
  <div class='col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <i><%= t('.required_fields') %></i>
        <br><br>
        <%= form_with scope: 'invoicing_limit', url: admin_dashboard_limite_faturamento_update_path, method: :put do |form| %>
          <%= form.label :name, t('.invoicing_limit'), class: 'form-label' %>
          <br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">R$</span>
            <%= form.text_field 'maximum_limit',
                                placeholder: '0,00',
                                aria_describedby: "addon-wrapping",
                                class: 'form-control currency-field' %>
          </div>
          <i><%= t('messages.info.currency_values') %></i>

          <br><br>
          <%= form.submit t('.update_limit_btn'), class: 'btn btn-primary', id: 'updateLimitBtn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
