<%= render '././partials/messages' %>

<div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12'>
  <div class="card shadow-lg border-0 rounded-lg mt-4">
    <div class="card-header">
      <h2><%= t('.graphs.titles.billing_availability') %></h2>
    </div>

    <div class="card-body" style="margin: 0 auto">
      <%= pie_chart(Graphs::InvoicingAvailabilityPresenter.data,
                    width: GraphSettings::PIE_DIMENSIONS[:width],
                    height: GraphSettings::PIE_DIMENSIONS[:height]) %>
    </div>
  </div>
</div>
<br>
<br>
<div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12'>
  <div class="card shadow-lg border-0 rounded-lg mt-4">
    <div class="card-header">
      <h2><%= t('.graphs.titles.invoices_month_to_month') %></h2>
    </div>

    <div class="card-body" style="margin: 0 auto">
      <%= column_chart Graphs::InvoicesMonthToMonthPresenter.data,
                       width: GraphSettings::COLUMN_DIMENSIONS[:width],
                       height: GraphSettings::COLUMN_DIMENSIONS[:height] %>
    </div>
  </div>
</div>
<br>
<br>
<div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12'>
  <div class="card shadow-lg border-0 rounded-lg mt-4">
    <div class="card-header">
      <h2><%= t('.graphs.titles.expenditures_month_to_month') %></h2>
    </div>

    <div class="card-body" style="margin: 0 auto">
      <%= column_chart Graphs::ExpendituresMonthToMonthPresenter.data,
                       width: GraphSettings::COLUMN_DIMENSIONS[:width],
                       height: GraphSettings::COLUMN_DIMENSIONS[:height] %>
    </div>
  </div>
</div>
<br>
<br>
<div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12'>
  <div class="card shadow-lg border-0 rounded-lg mt-4">
    <div class="card-header">
      <h2><%= t('.graphs.titles.incomes_vs_expenditures_month_to_month') %></h2>
    </div>

    <div class="card-body" style="margin: 0 auto">
      <%= column_chart Graphs::IncomesVsExpendituresMonthToMonthPresenter.data,
                       width: GraphSettings::COLUMN_DIMENSIONS[:width],
                       height: GraphSettings::COLUMN_DIMENSIONS[:height] %>
    </div>
  </div>
</div>
<br>
<br>
<div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-xs-12'>
  <div class="card shadow-lg border-0 rounded-lg mt-4">
    <div class="card-header">
      <h2><%= t('.graphs.titles.expenditures_by_categories') %></h2>
    </div>

    <div class="card-body" style="margin: 0 auto">
      <%= column_chart Graphs::ExpendituresByCategoriesPresenter.data,
                       width: GraphSettings::COLUMN_DIMENSIONS[:width],
                       height: GraphSettings::COLUMN_DIMENSIONS[:height] %>
    </div>
  </div>
</div>
