<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.companies') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <div class='col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <%= link_to t('.add_company_btn'), admin_dashboard_empresas_novo_path, class: 'btn btn-primary' %>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t('.name') %></th>
              <th scope="col"><%= t('.corporate_name') %></th>
              <th scope="col"><%= t('.cnpj') %></th>
              <th scope="col"><%= t('.status') %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @companies.each do |company| %>
              <tr style="<%= highlight_line(company) %>">
                <th scope="row"><%= company.name %></th>
                <td><%= company.corporate_name %></td>
                <td><%= company.cnpj %></td>
                <td><%= t("statuses.#{company.status}") %></td>
                <td>
                  <%= link_to admin_editar_empresa_path(company.id), class: 'actions-link', title: t('.edit_lnk') do %>
                    <i class="bi bi-pencil-square"></i>
                  <% end %>
                  <%= link_to admin_deletar_empresa_path(company.id), class: 'actions-link', title: t('.remove_lnk'), method: :delete do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @companies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>
