<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.invoices') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <div class='col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <%= link_to t('.add_invoice_btn'), admin_dashboard_notas_fiscais_novo_path, class: 'btn btn-primary' %>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t('.number') %></th>
              <th scope="col"><%= t('.amount') %></th>
              <th scope="col"><%= t('.competence_month') %></th>
              <th scope="col"><%= t('.description') %></th>
              <th scope="col"><%= t('.company') %></th>
              <th scope="col"><%= t('.receipt_date') %></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @invoices.each do |invoice| %>
              <tr>
                <th scope="row"><%= invoice.number %></th>
                <td><%= formatted_currency(invoice.amount) %></td>
                <td><%= invoice.competence_month %></td>
                <td><%= invoice.description %></td>
                <td><%= invoice.company.name %></td>
                <td><%= formatted_date(invoice.receipt_date) %></td>
                <td>
                  <%= link_to admin_editar_nota_fiscal_path(invoice.id), class: 'actions-link', title: t('.edit_lnk') do %>
                    <i class="bi bi-pencil-square"></i>
                  <% end %>
                  <%= link_to admin_deletar_nota_fiscal_path(invoice.id), class: 'actions-link', title: t('.remove_lnk'), method: :delete do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @invoices, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
      </div>
    </div>
  </div>
</div>
