<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to t('breadcrump.categories'), admin_dashboard_categorias_path, class: 'breadcrumb-item' %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.edit_category') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title', name: @category.name) %></h1>
  <hr>
  <div class='col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <i><%= t('.required_fields') %></i>
        <br><br>
        <%= form_with scope: 'category', url: admin_dashboard_categorias_update_path, method: :put do |form| %>
          <%= form.label :name, t('.name'), class: 'form-label' %>
          <%= form.text_field :name,
                              class: 'form-control',
                              required: true %>
          <br>
          <%= form.label :description, t('.description'), class: 'form-label' %>
          <%= form.text_area :description,
                             class: 'form-control',
                             required: true %>
          <br>
          <%= form.label :status, t('.status'), class: 'form-label' %>
          <%= form.select :status, Statuses.categories, {}, { class: 'form-control' } %>
          <br><br>
          <%= form.hidden_field :id %>
          <%= form.submit t('.update_data_btn'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
