<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.notifications') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <div class='col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <br><br>
        <%= form_with scope: 'notification', url: admin_dashboard_notificacoes_update_auth_path, method: :put do |form| %>
          <div class="mb-3">
            <h5>
              <label class="form-label"><%= t('.email') %><strong><%= @user.email %></strong></label>
            </h5>
          </div>
          <br>
          <div class="form-check">
            <%= form.check_box :email, { checked: @user.notification.email } %>
            <label class="form-check-label" for="flexCheckIndeterminate">
              <%= t('.receive_notifications_by_email') %>
            </label>
          </div>
          <br>
          <div class="form-check">
            <%= form.check_box :sms, { checked: @user.notification.sms } %>
            <label class="form-check-label" for="flexCheckIndeterminate">
              <%= t('.receive_notifications_by_sms') %>
            </label>
          </div>
          <br><br>
          <%= submit_tag t('.update_data_btn'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
