<p><%= t('notifications.billing.informations.availability.body.line1') %></p>
<p><%= t('notifications.billing.informations.availability.body.line2') %></p>
<h2>
<table width='90%'>
  <thead>
    <tr>
      <th style= "border: 1px solid #ddd" scope="col">
        <%= t('notifications.billing.informations.availability.body.table.head1') %>
      </th>
      <th style= "border: 1px solid #ddd" scope="col">
        <%= t('notifications.billing.informations.availability.body.table.head2') %>
      </th>
      <th style= "border: 1px solid #ddd" scope="col">
        <%= t('notifications.billing.informations.availability.body.table.head3') %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td width='30%' style= "border: 1px solid #ddd; text-align: right"><%= @limit %></td>
      <td width='30%' style= "border: 1px solid #ddd; text-align: right"><%= @current %></td>
      <td width='30%' style= "border: 1px solid #ddd; text-align: right"><%= @available %></td>
    </tr>
  </tbody>
</table>
</h2>
<br>
<p><%= t('notifications.billing.informations.availability.body.line4') %></p>
<br>
<br>
<p><%= t('notifications.billing.informations.availability.body.line5') %></p>
