  <div class='col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-sm-4 offset-sm-4 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-header">
        <h2>Log in</h2>
      </div>

      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: 'form-label' %><br />
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: 'email',
                              class: 'form-control' %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password, class: 'form-label' %><br />
            <%= f.password_field :password,
                                 autocomplete: 'current-password',
                                 class: 'form-control' %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
