.menu-item svg, span, small {
        color: #FFF;
}

.menu-item span:hover, small:hover {
        color: #FFFF00;
}

.menu-item small {
        margin-left: 33px;
}

.submenu-item {
        margin-left: 33px;
        color: #FFF;
}

.submenu-item svg {
        margin-right: 5px;
        color: #FFF;
}

.actions-link {
        text-decoration: none;
}

.actions-link:hover {
        color: #000;
}

.currency-field {
    text-align: right;
}
