<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.release_histories') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <div class='col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <br>
        <div class="mb-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <label class="form-label"><%= t('.insert_year') %></label>
          <input type="text" class="form-control" id="releaseYear"/>
          <br>
          <button class="btn btn-primary" id="filterByYearBtn"><%= t('.filter_by_year_btn') %></button>
        </div>
        <br><br>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col"><%= t('.name_number') %></th>
              <th scope="col"><%= t('.get_in') %></th>
              <th scope="col"><%= t('.get_out') %></th>
              <th scope="col"><%= t('.event_date') %></th>
            </tr>
          </thead>
          <tbody>
            <% @releases.each do |release| %>
              <tr>
                <th scope="row"><%= release[:reference] %></th>
                <td style="color: blue">
                  <%= formatted_currency(release[:amount]) if release[:kind] == Invoice.to_s %>
                </td>
                <td style="color: red">
                  <%= formatted_currency(release[:amount]) if release[:kind] == Expenditure.to_s %>
                </td>
                <td><%= formatted_date(release[:event_date]) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
