<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to t('breadcrump.expenditures'), admin_dashboard_despesas_path, class: 'breadcrumb-item' %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= t('breadcrump.new_expenditure') %></li>
    </ol>
  </nav>
  <%= render '././partials/messages' %>
  <h1 class="display-6"><%= t('.title') %></h1>
  <hr>
  <div class='col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-sm-3 col-xs-12'>
    <div class="card shadow-lg border-0 rounded-lg mt-4">
      <div class="card-body">
        <i><%= t('.required_fields') %></i>
        <br><br>
        <%= form_with scope: 'expenditure', url: admin_dashboard_despesas_create_path do |form| %>
          <%= form.label :category, t('.category'), class: 'form-label' %>
          <%= form.select :category,
                          Category.activated_names_list,
                          { include_blank: true },
                          { class: 'form-control' } %>
          <br>
          <%= form.label :name, t('.name'), class: 'form-label' %>
          <%= form.text_field :name,
                              class: 'form-control',
                              required: true %>
          <br>
          <%= form.label :company, t('.company'), class: 'form-label' %>
          <%= form.select :company,
                          Company.activated_names_list,
                          { include_blank: true },
                          { class: 'form-control' } %>
          <br>
          <%= form.label :amount, t('.amount'), class: 'form-label' %>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">R$</span>
            <%= form.text_field 'amount',
                                placeholder: '0,00',
                                aria_describedby: "addon-wrapping",
                                class: 'form-control',
                                required: true %>
          </div>
          <i><%= t('messages.info.currency_values') %></i>
          <br><br>
          <%= form.label :payment_date, t('.payment_date'), class: 'form-label' %>
          <%= form.text_field :payment_date,
                              class: 'form-control',
                              required: true %>
          <br>
          <%= form.label :competence_date, t('.competence_date'), class: 'form-label' %>
          <%= form.text_field :competence_date,
                              class: 'form-control',
                              required: true %>
          <br><br>
          <%= form.submit t('.save_expenditure_btn'), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
