<p><%= t('notifications.billing.thresholds.alert.body.line1') %></p>
<p><%= t('notifications.billing.thresholds.alert.body.line2', threshold: @billing_threshold, percentage: @current_percentage) %></p>
<p><h2><%= @billing_amount %></h2></p>
<p><%= t('notifications.billing.thresholds.alert.body.line3') %></p>
<p><%= t('notifications.billing.thresholds.alert.body.line4') %></p>
<p>
  <h2>
    <a href="<%= t('notifications.billing.thresholds.alert.body.line5') %>" target="blank">
      <%= t('notifications.billing.thresholds.alert.body.line6') %>
    </a>
  </h2>
</p>
<br>
<p><%= t('notifications.billing.thresholds.alert.body.line7') %></p>
<br>
<br>
<p><%= t('notifications.billing.thresholds.alert.body.line8') %></p>
